src/main/xsds/responses/stats/statResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="autnresponse" type="autnresponseType"/>
  <xs:complexType name="statResult_responsedata">
    <xs:sequence>
      <xs:element type="resultType" name="result" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valuesType">
    <xs:attribute type="xs:string" name="term" use="optional"/>
    <xs:attribute type="xs:string" name="count" use="optional"/>
  </xs:complexType>
  <xs:complexType name="autnresponseType">
    <xs:sequence>
      <xs:element type="xs:string" name="action"/>
      <xs:element type="xs:string" name="response"/>
      <xs:element type="statResult_responsedata" name="responsedata"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultType">
    <xs:sequence>
      <xs:element type="valuesType" name="value" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="from" use="optional"/>
    <xs:attribute type="xs:string" name="upto" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
  </xs:complexType>
</xs:schema>