src/main/xsds/responses/getQueryTagValuesResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Open Text.
  ~
  ~ Licensed under the MIT License (the "License"); you may not use this file
  ~ except in compliance with the License.
  ~
  ~ The only warranties for products and services of Open Text and its affiliates
  ~ and licensors ("Open Text") are as may be set forth in the express warranty
  ~ statements accompanying such products and services. Nothing herein should be
  ~ construed as constituting an additional warranty. Open Text shall not be
  ~ liable for technical or editorial errors or omissions contained herein. The
  ~ information contained herein is subject to change without notice.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:autn="http://schemas.autonomy.com/aci/"
           targetNamespace="http://schemas.autonomy.com/aci/"
           elementFormDefault="qualified">

    <xs:complexType name="flatField">
        <xs:sequence>
            <xs:element name="name" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
            <xs:element name="number_of_values" type="xs:integer"/>
            <xs:element name="total_values" minOccurs="0" type="xs:int"/>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="value" type="autn:tagValue"/>
                <xs:choice minOccurs="0">
                    <xs:element name="subvalue" minOccurs="0" type="autn:tagValue"/>
                    <xs:sequence minOccurs="0" maxOccurs="1">
                        <xs:element name="values" type="xs:int"/>
                        <xs:element name="valuesum" type="xs:double"/>
                        <xs:element name="valueaverage" type="autn:dateOrNumber"/>
                        <xs:element name="valuemin" type="autn:dateOrNumber"/>
                        <xs:element name="valuemax" type="autn:dateOrNumber"/>
                        <xs:element name="valuepercentile" type="autn:dateOrNumberPercentile" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:choice>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tagValue">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="count" type="xs:int"/>
                <xs:attribute name="date" type="xs:string"/>
                <xs:attribute name="date_with_offset" type="xs:string"/>
                <xs:attribute name="end_date" type="xs:string"/>
                <xs:attribute name="end_date_with_offset" type="xs:string"/>
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="valueDetails">
        <xs:sequence>
            <xs:element name="values" type="xs:integer"/>
            <xs:choice>
                <xs:element name="value_sum" type="xs:double"/>
                <xs:element name="valuesum" type="xs:double"/>
            </xs:choice>
            <xs:choice>
                <xs:element name="value_average" type="autn:dateOrNumber"/>
                <xs:element name="valueaverage" type="autn:dateOrNumber"/>
            </xs:choice>
            <xs:choice>
                <xs:element name="value_min" type="autn:dateOrNumber"/>
                <xs:element name="valuemin" type="autn:dateOrNumber"/>
            </xs:choice>
            <xs:choice>
                <xs:element name="value_max" type="autn:dateOrNumber"/>
                <xs:element name="valuemax" type="autn:dateOrNumber"/>
            </xs:choice>
            <xs:element name="valuepercentile" type="autn:dateOrNumberPercentile" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="recursiveField">
        <xs:sequence>
            <xs:element name="field" minOccurs="0" maxOccurs="unbounded" type="autn:recursiveField"/>
            <xs:element name="value_details" minOccurs="0" type="autn:valueDetails"/>
        </xs:sequence>
        <xs:attribute name="count" type="xs:int"/>
        <xs:attribute name="date" type="xs:string"/>
        <xs:attribute name="date_with_offset" type="xs:string"/>
        <xs:attribute name="end_date" type="xs:string"/>
        <xs:attribute name="end_date_with_offset" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="values">
        <xs:sequence>
            <xs:element name="field" minOccurs="0" maxOccurs="unbounded" type="autn:recursiveField"/>
            <xs:element name="value_details" minOccurs="0" type="autn:valueDetails"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getQueryTagValuesResponseData">
        <xs:sequence>
            <xs:element name="number_of_fields" type="xs:integer"/>
            <xs:element name="predicted" type="xs:boolean" minOccurs="0"/>
            <xs:element name="field" minOccurs="0" maxOccurs="unbounded" type="autn:flatField"/>
            <xs:element name="values" minOccurs="0" type="autn:values"/>
            <xs:element name="warning" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
            <xs:any namespace="##local" minOccurs="0" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dateOrNumber">
        <xs:simpleContent>
            <xs:extension base="xs:double">
                <!-- unfortunately has to be treated as a String as timezone dependent on DateOffset parameter and boundaries of acceptable date ranges have custom strings -->
                <xs:attribute name="date" type="xs:string" use="optional"/>
                <xs:attribute name="date_with_offset" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="dateOrNumberPercentile">
        <xs:simpleContent>
            <xs:extension base="xs:double">
                <!-- unfortunately has to be treated as a String as timezone dependent on DateOffset parameter and boundaries of acceptable date ranges have custom strings -->
                <xs:attribute name="date" type="xs:string" use="optional"/>
                <xs:attribute name="date_with_offset" type="xs:string" use="optional"/>
                <xs:attribute name="percentile" type="xs:int" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>
