src/main/xsds/responses/userListResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Hewlett-Packard Development Company, L.P.
  ~ Licensed under the MIT License (the "License"); you may not use this file except in compliance with the License.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.autonomy.com/aci/">
    <xs:complexType name="users">
        <xs:sequence>
            <xs:element name="totalusers" type="xs:int"/>
            <xs:element name="numusers" type="xs:int"/>
            <xs:element name="user" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
